* {
    padding: 0px;
    margin: 0px;
}

.data {
    background-color: #FFF8D7;
}

.title {
    background-color: #637193;
    font-size: 12px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}

.data-container {
    display: flex;
    background-color: #FFF8D7;
    align-items: center;
    padding-left: 15%;
}

.data-body {
    display: flex;
    flex-direction: column;
}

.chart {
    padding-left: 10%;
    padding-top: 2%;
}

.temperature-body,
.humidity-body {
    font-size: 20px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

#temperature,
#humidity {
    font-weight: bold;
    font-size: 35px;
}

.temperature-body img {
    width: 95px;
    height: 90px;
}

.humidity-body img {
    width: 95px;
    height: 90px;
}

.fix {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}